nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='#') NodeJS-App
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		div#navbarText.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				a.nav-item.nav-link.active(href='#')
					| Home 
					span.sr-only (current)
				a.nav-item.nav-link(href='/manage') Manage Data
				a.nav-item.nav-link(href='#') Pricing
				a.nav-item.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled
			span.navbar-text
				a(href='/logout')
					button#logout.btn.btn-sm.btn-outline-warning(type='button')
						i.fas.fa-sign-out-alt
						|  logout